.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.App-header {
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  flex: 0 0 auto;
  height: calc(2rem + 18px);
}

.App-header h4 {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
