.Feed {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 1rem;
}

.Feed-spinner-wrapper {
  height: 48px;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Feed-spinner {
  width: 32px;
  height: 32px;
  border: 3px solid #aaa;
  border-top-color: #222;
  border-radius: 50%;
  animation: spin 0.3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg)
  }
}