.FeedItem {
  display: flex;
  flex-direction: row;
  padding: 5px;
  border-bottom: 1px solid rgba(127, 127, 127, 0.8);
  position: relative;
  margin-bottom: 16px;
  animation: bob-in .4s ease-out;
  animation-fill-mode: both;
  transform-origin: center center;
  animation-delay: 0.15s;
}
.FeedItem:nth-child(1) {
  animation-delay: 0s;
}
.FeedItem:nth-child(2) {
  animation-delay: 0.05s;
}
.FeedItem:nth-child(3) {
  animation-delay: 0.1s;
}
.FeedItem:nth-child(4) {
  animation-delay: 0.12s;
}
.FeedItem:nth-child(5) {
  animation-delay: 0.15s;
}


.FeedItem::after {
  width: 72px;
  height: 3px;
  background: #222;
  position: absolute;
  bottom: -2px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  left: 0;
  content: '';
}



.FeedItem .FeedItem-image {
  width: 64px;
  height: 64px;
  border-radius: 5px;
  flex: 0 0 auto;
  background: #aaa;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.FeedItem .FeedItem-text {
  display: flex;
  flex-direction: column;
  padding: 0px 16px;
  flex: 1 1 auto;
  height: 64px;
}

.FeedItem-text .FeedItem-text_title {
  margin: 0;
  width: 100%;
  line-height: 1em;
  height: 1em;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.FeedItem-text .FeedItem-text_category {
  font-size: 11px;
  font-style: italic;
  color: #aaa;
  margin-bottom: 5px;
}

.FeedItem-text .FeedItem-text_summary {
  margin: 0;
  font-size: 12px;
  height: 14px;
  width: 100%;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@keyframes bob-in{
  from {
    transform: translate(0, 100vh) scale(0.95);
  } to {
    transform: translate(0, 0) scale(1);
  }
}